.Footer-container {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
  }