
body {
  border-radius: 25%;

  max-width: 1280px;
  margin: 0 auto; 
}


p, span, h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 800; 
}

.Carousel {
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}