body {
    font-family: 'Handjet', sans-serif; /* Utilisation de la police Handjet */
  }
  
  h1, h2, h3 {
    font-family: 'Handjet', sans-serif; /* Utilisation de la police Raleway */
  }
  
  p {
    font-family: 'Handjet', sans-serif; /* Utilisation de la police Roboto */
  }
  